<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a New Pet Profile!</title>
</head>
<body>
    <h1>Add a New Pet</h1>

    <form action = "/pets/add" method = "post">
        <label for="petName"> Pet Name:</label>
        <input type="text" id="petName" name="petName" required />
        <br/>

        <label for="petType">Pet Type:</label>
        <input type="text" id="petType" name="petType" required/>
        <br/>

        <label for="birthYear">Birth Year:</label>
        <input type="number" id="birthYear" name="birthYear" required/>
        <br/>

        <label for="birthMonth">Birth Month:</label>
        <input type="number" id="birthMonth" name="birthMonth" required/>
        <br/>

        <label for="healthConcerns">Health Concerns:</label>
        <input type="text" id="healthConcerns" name="healthConcerns">
        <br/>

        <button type="submit">Add Pet</button>
    </form>

    <a href="/pets"> Back to Pets List</a>

</body>
</html>