<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Profile</title>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <style>
        /*
        outline of person button
         */
        .top-right-button {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 24px;
        }

    </style>

</head>
<body>
<button class="top-right-button" onclick="window.location.href='/account-info'">
    <ion-icon name="person-outline"></ion-icon>
</button>


<h1 id="petName"></h1>
<input type="hidden" id="id" />

<p><strong>Type: </strong><span id="petType"></span></p>
<p><strong>Birth Year: </strong><span id="birthYear"></span></p>
<p><strong>Birth Month: </strong><span id="birthMonth"></span></p>
<p><strong>Age: </strong><span id="age"></span>  Years</p>

<h3>Health Concerns</h3>
<textarea id="healthConcerns" readonly rows="5" cols="50">
</textarea>
<br/>


<button id="edit">Edit</button>
<button id="save" style="display:none;">Save</button>
<span id="saveMessage"></span>


<h3>Pet Events</h3>
<ul id="eventsList">

</ul>

<br/>
<button id="deletePet" >Delete Pet</button>

<br/><br/>
<a href="/pets">
    <button>Your Pets</button>
</a>

<br/><br/>
<a href="/dashboard">
    <button>Dashboard</button>
</a>

<script src="/js/id.js" defer></script>
</body>
</html>