<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Pets</title>
    <script src ="/js/pets.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <style>
        /*
        outline of person button
         */
        .top-right-button {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 24px;
        }

    </style>
</head>
<body>

<button class="top-right-button" onclick="window.location.href='/account-info'">
    <ion-icon name="person-outline"></ion-icon>
</button>

<h1>Your Pets</h1>
<a href="/dashboard"> <button> Back to Dashboard </button></a>
<br/><br/>

<a href="/pets/add-pet"> <button> Add New Pet </button></a>
<br/><br/>

<ul id="pets-list">

</ul>



</body>
</html>