server:
  error:
    include-message: always
    include-binding-errors: always


spring:
  config:
    import: "secrets.yml"

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    #imports username and password from secrets.yml
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    from: ${spring.mail.username}

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE