<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>



</head>

<body>
<header>
    <nav class="navbar">
        <h1 class="logo">PetCareOrganizer</h1>
        <ul class="nav-links">
            <li><a href="/index">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </nav>
</header>

<section class="hero">
    <h2>Welcome to Pet Care Organizer!</h2>

    <a class="btn" href="/signup">Get Started</a>
</section>

<footer>
    <p>COPY RIGHT MESSAGE GOES HERE.</p>
</footer>
</body>
</html>
