<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script type="nomodule" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>

<body>
<section>
    <form action="/login" method="post">
        <h1>Log In</h1>

        <div class = "inputbox">
            <ion-icon name="person-outline"></ion-icon>
            <input type = "text" name = "username" required>
            <label>Userame</label>
        </div>

        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" name="password" required>
            <label>Password</label>
        </div>

        <button type="submit">Log In</button>


    </form>

    <div class="register">
        <p>Don’t have an account? <a href="/signup"><button >Sign Up</button></a></p>
    </div>
</section>
</body>
</html>
